# Archivos de Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Notebooks de Jupyter
.ipynb_checkpoints/

# Archivos de entorno / virtualenv
.env
.venv
env/
venv/
ENV/
*.env
*.venv

# Configuración de editores
.vscode/
.idea/
*.swp
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.out
*.tmp

# Archivos grandes que no necesitas versionar
*.csv
*.tsv
*.dat
*.h5
*.pkl
*.npz


# Archivos de Colab
*.json